@import url(variables.css);
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background: var(--color-uno);
}
nav {
    color: var(--color-fff);
    z-index: 99;
    position: relative;
}
nav a, header a {
    color: var(--color-fff);
    text-decoration: none;
}

nav .container {
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0;
}

nav .container > div {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}
nav .menu,
nav form,
.footer,
.footer .watch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}